:host {
  display: block;
  color: green;
  /*position:relative;*/
}

.olos-container {  
  overflow-y: scroll;
  position: relative;
  height: 100%;
  width:100%;
  min-height: 1px;
  min-width: 1px;
}

canvas {
  width: 100%;
  height: 100%;
  /*position: relative;*/
}

.controls {
  height:20px;
  /*top:40px;*/
  bottom:10px;
  left:-50px;
  position:absolute;
  z-index:1000;
  width:50%;
  color:black;
  /*padding:5px;*/
}